doctype html
html(lang="ru")
  //- Include head 
  include ../../pugTemplates/main/head
  //-additionally

  //-body-start
  body(class=pageClass)
    //-first section  start
    .background-spot(style!=`background-image: url('${RootDirectory}assets/images/main-img/background/background-main.jpg');`)
      .overflow-for-context
        //-header
        include ../../components/header/header
        .intro-area.container-xxl.row.mx-auto
          .left-part-display.h-100.col-6.d-flex.justify-content-center.align-items-start.flex-column
            h1.intro-text
              | СОЗДАЁМ
              br
              span ПРОДАЮЩИЕ
              br
              | И
              span ЭФФЕКТИВНЫЕ
              br
              | САЙТЫ И ПО

            h2.additional-text.mt-3
              | Прадуктивно решаем задачи клиентов и
              br
              | удиляем максимум внимание деталям
            a.button-offer.mt-3.w-50(href) Свяжитесь с нами
          .rigth-part-display.h-100.col-6.d-flex.justify-content-center.align-items-center
            iframe(width='560' height='315' src='https://www.youtube.com/embed/RroDdybvu5s' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', allowfullscreen)
    //-first section  end
    //-second section start
    main.second-display
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .text-area__second-display.mb-5.mt-5
          p Что мы делаем
          h1
            span Качественная Реализация 
            | и Рабочии Решения
        .cards-area.w-100.d-flex.justify-content-center.align-items-start.flex-row.flex-wrap
          .present-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-column
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/icon.png`, alt)
            h2.text-lg-right.text-center.mb-2 Сайты для Бизнеса
            p.d-flex.justify-content-center.align-items-start.
              Задача каждого бизнеса сделать много продаж, что бы зарабатывая на (любом контентном сайте) на интернет магазине, вести трафик через продающий лендинг, мы Вам с этим поможем!

          .present-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-column
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/icon.png`, alt)
            h2.text-lg-right.text-center.mb-2 Разработка ботов
            p.d-flex.justify-content-center.align-items-start.
              Задача каждого бизнеса сделать много продаж, что бы зарабатывая на (любом контентном сайте) на интернет магазине, вести трафик через продающий лендинг, мы Вам с этим поможем!

          .present-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-column
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/icon.png`, alt)
            h2.text-lg-right.text-center.mb-2 Написание скриптов
            p.d-flex.justify-content-center.align-items-start.
              Задача каждого бизнеса сделать много продаж, что бы зарабатывая на (любом контентном сайте) на интернет магазине, вести трафик через продающий лендинг, мы Вам с этим поможем!

          .present-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-column
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/icon.png`, alt)
            h2.text-lg-right.text-center.mb-2 Написание парсеров
            p.d-flex.justify-content-center.align-items-start.
              Задача каждого бизнеса сделать много продаж, что бы зарабатывая на (любом контентном сайте) на интернет магазине, вести трафик через продающий лендинг, мы Вам с этим поможем!

          .present-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-column
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/icon.png`, alt)
            h2.text-lg-right.text-center.mb-2 Создание многофункциональных веб-сервисов
            p.d-flex.justify-content-center.align-items-start.
              Задача каждого бизнеса сделать много продаж, что бы зарабатывая на (любом контентном сайте) на интернет магазине, вести трафик через продающий лендинг, мы Вам с этим поможем!

          .present-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-column
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/icon.png`, alt)
            h2.text-lg-right.text-center.mb-2 Разработка дизайна
            p.d-flex.justify-content-center.align-items-start.
              Задача каждого бизнеса сделать много продаж, что бы зарабатывая на (любом контентном сайте) на интернет магазине, вести трафик через продающий лендинг, мы Вам с этим поможем!

          .present-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-column
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/icon.png`, alt)
            h2.text-lg-right.text-center.mb-2 Продвижение
            p.d-flex.justify-content-center.align-items-start.
              Задача каждого бизнеса сделать много продаж, что бы зарабатывая на (любом контентном сайте) на интернет магазине, вести трафик через продающий лендинг, мы Вам с этим поможем!

          .present-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-column
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/icon.png`, alt)
            h2.text-lg-right.text-center.mb-2 Дополнительный набор услуг
            p.d-flex.justify-content-center.align-items-start.
              Задача каждого бизнеса сделать много продаж, что бы зарабатывая на (любом контентном сайте) на интернет магазине, вести трафик через продающий лендинг, мы Вам с этим поможем!

          .present-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-column
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/icon.png`, alt)
            h2.text-lg-right.text-center.mb-2 Сайты для Бизнеса
            p.d-flex.justify-content-center.align-items-start.
              Задача каждого бизнеса сделать много продаж, что бы зарабатывая на (любом контентном сайте) на интернет магазине, вести трафик через продающий лендинг, мы Вам с этим поможем!

    //-second section end
    //-third section start
    main.third-display
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .text-area__third-display.text-center.w-100.mb-5.mt-5
          p Как проходит разработка
          h1
            span Этапы которые
            |  проходят наши проекты
        .cards-area.w-100.d-flex.justify-content-center.align-items-start.flex-row.flex-wrap
          .stage-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-row
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/stages-icons/stage-icon.jpg`, alt)
            .stage-wrapper
              h2.text-lg-right.text-center.mb-2 Прототипы
              p.d-flex.justify-content-center.align-items-start Разработка прототипа, всех экрано или наброски функционала
          .stage-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-row
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/stages-icons/design-icon.png`, alt)
            .stage-wrapper
              h2.text-lg-right.text-center.mb-2 Дизайн
              p.d-flex.justify-content-center.align-items-start Разработка прототипа, всех экрано или наброски функционала
          .stage-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-row
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/stages-icons/ui-ux-icon.png`, alt)
            .stage-wrapper
              h2.text-lg-right.text-center.mb-2 UI/UX
              p.d-flex.justify-content-center.align-items-start Разработка прототипа, всех экрано или наброски функционала
          .stage-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-row
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/stages-icons/backend-icon.png`, alt)
            .stage-wrapper
              h2.text-lg-right.text-center.mb-2 Бэкенд
              p.d-flex.justify-content-center.align-items-start Разработка прототипа, всех экрано или наброски функционала
          .stage-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-row
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/stages-icons/tests-icon.png`, alt)
            .stage-wrapper
              h2.text-lg-right.text-center.mb-2 Тестирование и оптимизация
              p.d-flex.justify-content-center.align-items-start Разработка прототипа, всех экрано или наброски функционала
          .stage-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-row
            img.mb-1(src!=`${RootDirectory}assets/images/main-img/icons/stages-icons/docs-icon.jpg`, alt)
            .stage-wrapper
              h2.text-lg-right.text-center.mb-2 Документация и инструкции
              p.d-flex.justify-content-center.align-items-start Разработка прототипа, всех экрано или наброски функционала
    //-third section end
    //-forth section start
    main.forth-display#particles-js
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .text-area__forth-display.text-center.w-100.mb-5.mt-5
          p Что мы разрабатывает
          h1.mb-4 Наши услуги
          p.second-p
            | Мы разрабатывает сайты различной сложности от простых одностраничников и интернет магазинов
            br
            | до продвинутых веб-сервисов. Одно остаётся неизменным: качество нашей работы и внимание к деталям
        .down-area.w-100.d-flex.justify-content-center.align-items-center.flex-row.flex-nowrap
          .left-side-img
            img(src!=`${RootDirectory}assets/images/main-img/monitors.png`, alt)
          ul.rigth-side-text
            li Лендинги, сайт-визитки
            li Корпоративные сайты
            li Веб сервисы
            li Интерен магазины
            li Боты разной сложности
            li Парсинг сайтов
    //-forth section end
    //-six section start
    main.six-display#six-display
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .text-area__six-display.text-center.w-100.mb-5.mt-5
          h1.mb-4 Услуги и стоимость
        .cards-area.w-100.d-flex.justify-content-center.align-items-start.flex-row.flex-wrap
          .prices-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-column
            h2 Landing
            p Если вам нужен просто продающий сайт, без какой либо динамики то лендиг идеальный вариант
            ul
              li
                | Срок:
                span 10-20 дней
              li
                | Стоимость:
                span От 25 000 руб
              li
                | Сопровождения:
                span От 5000 руб
              li
                | Продвижения: 
                span От 30 000руб
            button.button-offer.pos-btn-price Связаться с нами
          .prices-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-column
            h2 Landing
            p Если вам нужен просто продающий сайт, без какой либо динамики то лендиг идеальный вариант
            ul
              li
                | Срок:
                span 10-20 дней
              li
                | Стоимость:
                span От 25 000 руб
              li
                | Сопровождения:
                span От 5000 руб
              li
                | Продвижения: 
                span От 30 000руб
            button.button-offer.pos-btn-price Связаться с нами
          .prices-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-column
            h2 Landing
            p Если вам нужен просто продающий сайт, без какой либо динамики то лендиг идеальный вариант
            ul
              li
                | Срок:
                span 10-20 дней
              li
                | Стоимость:
                span От 25 000 руб
              li
                | Сопровождения:
                span От 5000 руб
              li
                | Продвижения: 
                span От 30 000руб
            button.button-offer.pos-btn-price Связаться с нами
          .prices-card-item.text-center.col-3.d-flex.justify-content-center.align-items-center.flex-column
            h2 Landing
            p Если вам нужен просто продающий сайт, без какой либо динамики то лендиг идеальный вариант
            ul
              li
                | Срок:
                span 10-20 дней
              li
                | Стоимость:
                span От 25 000 руб
              li
                | Сопровождения:
                span От 5000 руб
              li
                | Продвижения: 
                span От 30 000руб
            button.button-offer.pos-btn-price Связаться с нами
    //-six section end
    //-seven section start
    main.seven-display#seven-display
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .upper-part__seven-display
          .text-area__seven-display.text-center.w-100.mb-5.d-flex.justify-content-center.align-items-center.flex-column
            p.mb-4 Что мы разрабатывает
            h1.mb-4 Наше портфолио
            p.second-p.mt-3 Каждый сайт сайт создается командой профессионалов которые имею большой опыт в разработке ПО, дизайне, рекламе
          .text-area__seven-display.text-center.w-100.mb-5.mt-5.d-flex.justify-content-center.align-items-center.flex-column
            p.second-p.mb-5
              | Нравится один или несколько примеров ниже?
              br
              | Свяжитесь с нами, и мы предложими вам экслюзивное решение
            button.button-offer.pos-btn-price2 Связаться с нами
        .down-area__seven-display.w-100.d-flex.justify-content-center.align-items-center.flex-row.flex-nowrap
          .portfolio-item__slider-1
            img.portfolio-item__img(src!=`${RootDirectory}assets/images/main-img/portfolio/portfolio_1.png`, alt)
          .portfolio-item__slider-1
            img.portfolio-item__img(src!=`${RootDirectory}assets/images/main-img/portfolio/portfolio_1.png`, alt)
          .portfolio-item__slider-1
            img.portfolio-item__img(src!=`${RootDirectory}assets/images/main-img/portfolio/portfolio_1.png`, alt)
          .portfolio-item__slider-1
            img.portfolio-item__img(src!=`${RootDirectory}assets/images/main-img/portfolio/portfolio_1.png`, alt)
          .portfolio-item__slider-1
            img.portfolio-item__img(src!=`${RootDirectory}assets/images/main-img/portfolio/portfolio_1.png`, alt)
    //-seven section end
    //-eight section start
    main.eight-display#eight-display
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .upper-part__eight-display.mt-5
          h1.Title-upper-part__eight-display Go to start
        .down-area__eight-display.w-100.d-flex.justify-content-center.align-items-center.flex-row.flex-nowrap
          .text-area__eight-display.text-center.w-100.mb-5.mt-5.d-flex.justify-content-center.align-items-center.flex-column
            p.second-p.mb-5
              | Давайте обсудим
              br
              | ваш проект?
            .btn-wrapper__eight-display.d-flex.justify-content-center.align-items-center.flex-row
              button.button-offer.pos-btn-price2 Обсудить проект
              button.button-offer.pos-btn-price3 Скачать бриф
          .text-area__eight-display.text-center.w-100.mb-5.d-flex.justify-content-center.align-items-center.flex-column
            img(src!=`${RootDirectory}assets/images/main-img/macbook.png`, alt)
    //-eight section end
    //-nine section start
    main.nine-display#nine-display
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-center.flex-column
        .count-part__nine-display.mt-5.mb-5.d-flex.justify-content-between.align-items-start.flex-row
          .count-part-item.d-flex.justify-content-center.align-items-center.flex-row
            h2 95
            p
              | Проектов в которых
              br
              | мы участвовали
          .count-part-item.d-flex.justify-content-center.align-items-center.flex-row
            h2 7
            p
              | Человек
              br
              | в команде
        .count-part__nine-display.mt-5.mb-5.d-flex.justify-content-between.align-items-start.flex-row
          .count-part-item.d-flex.justify-content-center.align-items-center.flex-row
            h2 45%
            p Повторных заказов
          .count-part-item.d-flex.justify-content-center.align-items-center.flex-row
            h2 5
            p
              | Лет создаем
              br
              | сайты
    //-nine section end
    //-ten section start
    main.ten-display#ten-display(style!=`background-image: url('${RootDirectory}assets/images/main-img/background/backgrount-grid.png');`)
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .text-area__ten-display.mb-5.mt-5
          //  <p>Дополнительные услуги</p> 
          h1
            span Тут представленно 
            | множество доп услуг для сайта
        .cards-area.w-100.d-flex.justify-content-center.align-items-start.flex-row.flex-wrap
          .edditional-card-item.text-center.col-3.d-flex.justify-content-center.align-items-start.flex-column
            img.mb-3(src!=`${RootDirectory}assets/images/main-img/icons/additional-offer.png`, alt)
            h2.text-lg-right.mb-2 Поставить капчу на сайт
            p.d-flex.justify-content-center.align-items-start.
              Задача каждого бизнеса сделать много Поставим любую капчу на ваш сайт

          .edditional-card-item.text-center.col-3.d-flex.justify-content-center.align-items-start.flex-column
            img.mb-3(src!=`${RootDirectory}assets/images/main-img/icons/additional-offer.png`, alt)
            h2.text-lg-right.mb-2 Оптимизация сайта на wp и другие
            p.d-flex.justify-content-center.align-items-start.

              Оптимизируем ваш сайт на wp или же любой другой cms или фреймворке

          .edditional-card-item.text-center.col-3.d-flex.justify-content-center.align-items-start.flex-column
            img.mb-3(src!=`${RootDirectory}assets/images/main-img/icons/additional-offer.png`, alt)
            h2.text-lg-right.mb-2 Скопируем почти любой сайт(только фронт)
            p.d-flex.justify-content-center.align-items-start.

              С помощью парсера скопируем любой сайт который вам нужен

          .edditional-card-item.text-center.col-3.d-flex.justify-content-center.align-items-start.flex-column
            img.mb-3(src!=`${RootDirectory}assets/images/main-img/icons/additional-offer.png`, alt)
            h2.text-lg-right.mb-2 Аудит сайта на ошибки
            p.d-flex.justify-content-center.align-items-start.

              Проанализируем ваш сайт на ошибки отталкиваясь от метрик и подготовим отчет

          .edditional-card-item.text-center.col-3.d-flex.justify-content-center.align-items-start.flex-column
            img.mb-3(src!=`${RootDirectory}assets/images/main-img/icons/additional-offer.png`, alt)
            h2.text-lg-right.mb-2 Разработаем простой логотип не дорого для прототипа
            p.d-flex.justify-content-center.align-items-start.

              Разработаем простой логотип не дорого для прототипа

          .edditional-card-item.text-center.col-3.d-flex.justify-content-center.align-items-start.flex-column
            img.mb-3(src!=`${RootDirectory}assets/images/main-img/icons/additional-offer.png`, alt)
            h2.text-lg-right.mb-2 Редизайн сайта
            p.d-flex.justify-content-center.align-items-start.

              Немного обновим дизайн вашего сайта

          .edditional-card-item.text-center.col-3.d-flex.justify-content-center.align-items-start.flex-column
            img.mb-3(src!=`${RootDirectory}assets/images/main-img/icons/additional-offer.png`, alt)
            h2.text-lg-right.mb-2 Установим все необходимые плагины на wp
            p.d-flex.justify-content-center.align-items-start.

              Установим все необходимые плагины на wp

          .edditional-card-item.text-center.col-3.d-flex.justify-content-center.align-items-start.flex-column
            img.mb-3(src!=`${RootDirectory}assets/images/main-img/icons/additional-offer.png`, alt)
            h2.text-lg-right.mb-2 Изментим формат изображений на сайте на webp
            p.d-flex.justify-content-center.align-items-start.

              Изментим формат изображений на сайте на webp

          .edditional-card-item.text-center.col-3.d-flex.justify-content-center.align-items-start.flex-column
            img.mb-3(src!=`${RootDirectory}assets/images/main-img/icons/additional-offer.png`, alt)
            h2.text-lg-right.mb-2 Поставим сайт на хостинг или vps
            p.d-flex.justify-content-center.align-items-start.

              Поставим сайт на хостинг или vps

    //-ten section end
    //-eleven section start
    main.eleven-display#eleven-display
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .upper-part__eleven-display.mt-5
          h1.Title-upper-part__eleven-display О нас
        .down-area__eleven-display.w-100.d-flex.justify-content-between.align-items-start.flex-row.flex-nowrap
          .text-area__eleven-display.text-center.d-flex.justify-content-center.align-items-center.flex-column
            p
              span Мы не будем 
              | говорить что мы самые лучшие, нам просто нравиться наша работа
            p
              span Не ждите 
              | обещаний, что мы сделаем сайт под ключ за 2 дня. Посмотрите этапы создания проекта, и вы поймете, что нужно время.
            p
              span Technohub Solusion 
              | компания современного формата. Работаем удаленно и не арендуем офисы, что очень ускоряет процесс создания сайта.
            p
              span Мы помним 
              | о конфиденциальности, поэтому всегда настраиваем SSL протоколы и политику обработки персональных данных (№ 152-ФЗ).
            p
              span Как и вам
              |  , нам важен финальный продукт. Важно показать высокий результат. И мы его показываем на протяжении 7 лет.
          .right-items-explanes.d-flex.justify-content-center.align-items-center.flex-column
            .text-area__eleven-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori2.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Иследуем нишу
                p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
            .text-area__eleven-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori2.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Иследуем нишу
                p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
            .text-area__eleven-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori2.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Иследуем нишу
                p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
            .text-area__eleven-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori2.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Иследуем нишу
                p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
            .text-area__eleven-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori2.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Иследуем нишу
                p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
            .text-area__eleven-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori2.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Иследуем нишу
                p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
            .text-area__eleven-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori2.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Иследуем нишу
                p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
    //-eleven section end
    //-twelvesection start
    main.twelve-display#twelve-display
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .upper-part__twelve-display.mt-5
          h1.Title-upper-part__twelve-display Our stack
        .down-area__twelve-display.w-100.d-flex.justify-content-around.align-items-center.flex-row.flex-nowrap
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
        .down-area__twelve-display.w-100.d-flex.justify-content-around.align-items-center.flex-row.flex-nowrap
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
          img.down-area__twelve-display-img(src!=`${RootDirectory}assets/images/main-img/stack/react.png`, alt)
    //-twelve section end
    //-thirteen section start
    main.thirteen-display#thirteen-display
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .text-area__thirteen-display.text-center.w-100.mb-5.mt-5
          p Часто задаваемые вопросы
          h1.mb-4 Вопросы и ответы
          p.second-p
            | Каждый сайт создается командой профессионалов, которые
            br
            | имеют большой опыт в дизайне, рекламе и разработке.
        .down-area__thirteen-display.w-100.d-flex.justify-content-between.align-items-start.flex-row.flex-nowrap
          .left-items-explanes.d-flex.justify-content-center.align-items-center.flex-column
            .text-area__thirteen-display-left-inner.d-flex.justify-content-start.align-items-center.flex-column
              div Есть ли какие-нибудь дополнительные платежи ?
              div Есть ли какие-нибудь дополнительные платежи ?
              div Есть ли какие-нибудь дополнительные платежи ?
              div Есть ли какие-нибудь дополнительные платежи ?
              div Есть ли какие-нибудь дополнительные платежи ?
              div Есть ли какие-нибудь дополнительные платежи ?
              div Есть ли какие-нибудь дополнительные платежи ?
          .text-area__thirteen-display.text-center.mt-5.d-flex.justify-content-center.align-items-center
            img(src!=`${RootDirectory}assets/images/main-img/monitors.png`, alt)
    //-thirteen section end
    //-fourteen section start
    main.fourteen-display#fourteen-display
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .upper-part__fourteen-display.mt-5
          h1.Title-upper-part__fourteen-display
            | Какой пакет услуг включяет каждый
            br
            | сайт который мы разрабатываем
        .down-area__fourteen-display.w-100.d-flex.justify-content-between.align-items-start.flex-row.flex-nowrap
          .text-area__fourteen-display.text-center.d-flex.justify-content-center.align-items-center.flex-column
            p
              span У каждого
              |  продукта который мы делаем есть дополнительный пакет услуг
            button.button-offer.pos-btn-price3 Оставьте заявку
          .fourteen-right-items-explanes.d-flex.justify-content-center.align-items-center.flex-column
            .text-area__fourteen-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Кроссбраузерность
                p это означяет что мы делаем так что бы ваш сайт смотрелся норм на всех браузерах
            .text-area__fourteen-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Иследуем нишу
                p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
            .text-area__fourteen-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Иследуем нишу
                p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
            .text-area__fourteen-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Иследуем нишу
                p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
            .text-area__fourteen-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Иследуем нишу
                p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
            .text-area__fourteen-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Иследуем нишу
                p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
            .text-area__fourteen-display-rigth-inner.text-center.d-flex.justify-content-center.align-items-center.flex-row
              img(src!=`${RootDirectory}assets/images/main-img/icons/auditori.png`, alt)
              .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
                h2 1. Иследуем нишу
                p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
    //-fourteen section end
    //-fifteen section start
    main.fifteen-display#fifteen-display
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .down-area__fifteen-display.w-100.d-flex.justify-content-between.align-items-center.flex-row.flex-nowrap
          .fifteen-left-items-explanes.d-flex.justify-content-center.align-items-center
            .text-area__fifteen-display.text-center.w-100.mb-5.mt-5.d-flex.justify-content-between.align-items-start.flex-column
              p Часто задаваемые вопросы
              h1.mb-4 Создаем удобный дизайн, и разрабатываем различного рода ПО, такие как сайты, парсеры, мобильные приложения, декстоп
              p.second-p
                | Каждый сайт создается командой профессионалов, которые
                br
                | имеют большой опыт в дизайне, рекламе и разработке.
          .text-area__fifteen-display.text-center.d-flex.justify-content-center.align-items-center
            form.form-1.d-flex.justify-content-center.align-items-center.flex-column(action)
              h1 Ваша задача?
              input(type='text')
              input(type='text')
              input(type='text')
              input(type='text')
    //-fifteen section end
    //-sixteen section start
    main.sixteen-display#sixteen-display
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .upper-part__sixteen-display.mt-5
          h1.Title-upper-part__sixteen-display Немного видео с ютуба
        .down-area__sixteen-display.w-100.d-flex.justify-content-between.align-items-start.flex-row.flex-nowrap
          .text-area__sixteen-display.text-center.d-flex.justify-content-center.align-items-center.flex-column
            .rigth-part-display.w-100.h-100.col-6.d-flex.justify-content-center.align-items-center
              iframe(width='560' height='315' src='https://www.youtube.com/embed/RroDdybvu5s' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', allowfullscreen)
          .sixteen-right-items-explanes.d-flex.justify-content-center.align-items-center.flex-column
            .rigth-part-display.w-100.h-100.col-6.d-flex.justify-content-center.align-items-center
              iframe(width='560' height='315' src='https://www.youtube.com/embed/RroDdybvu5s' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', allowfullscreen)
    //-sixteen section end
    //-seventeen section start
    main.seventeen-display
      .container-xxl.mx-auto.d-flex.justify-content-center.align-items-start.flex-column
        .text-area__seventeen-display.text-center.w-100.mb-5.mt-5
          p Что мы разрабатывает
          h1.mb-4 Наши услуги
          p.second-p
            | Мы разрабатывает сайты различной сложности от простых одностраничников и интернет магазинов
            br
            | до продвинутых веб-сервисов. Одно остаётся неизменным: качество нашей работы и внимание к деталям
        .down-area-seventeen.w-100.d-flex.justify-content-center.align-items-center.flex-row.flex-nowrap
          .blog-item.d-flex.justify-content-center.align-items-center.flex-row
            img(src!=`${RootDirectory}assets/images/main-img/monitors.png`, alt)
            .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
              h2 Как поставить капчу на сайт
              p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
              a(href) Читать подробнее...
          .blog-item.d-flex.justify-content-center.align-items-center.flex-row
            img(src!=`${RootDirectory}assets/images/main-img/monitors.png`, alt)
            .text-area__eleven-display-rigth-inner-text.d-flex.justify-content-center.align-items-start.flex-column
              h2 Как поставить капчу на сайт
              p Первым делом нужно изучить вашу нишу, целевую аудиторию и конкурентов
              a(href) Читать подробнее...
    //-seventeen section end
    //-footer start
    include ../../components/footer/footer
    //-footer end
    //-scripts main
    include ../../pugTemplates/main/scripts
    //-scripts additionally
