block variables
    -
        var pageClass ='App';
        var RootDirectory = "<? echo APP_ADMIN_PANEL_PATH; ?>";




doctype html
html(lang="ru")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='application-name', content="")
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
        meta(name='apple-mobile-web-app-title' content="")
        //- title
        title !{'<?php echo $title; ?>'}
        //- inc styles
        link(rel='stylesheet', href!=`${RootDirectory}assets/css/style.min.css`)
        link(rel='icon' type='image/png' href!=`${RootDirectory}assets/images/icons/favicon.ico`)
        link(rel='stylesheet' type='text/css' href!=`${RootDirectory}vendor/bootstrap/css/bootstrap.min.css`)
        link(rel='stylesheet' type='text/css' href!=`${RootDirectory}assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css`)
        link(rel='stylesheet' type='text/css' href!=`${RootDirectory}assets/fonts/iconic/css/material-design-iconic-font.min.css`)
        link(rel='stylesheet' type='text/css' href!=`${RootDirectory}vendor/animate/animate.css`)
        link(rel='stylesheet' type='text/css' href!=`${RootDirectory}vendor/css-hamburgers/hamburgers.min.css`)
        link(rel='stylesheet' type='text/css' href!=`${RootDirectory}vendor/animsition/css/animsition.min.css`)
        link(rel='stylesheet' type='text/css' href!=`${RootDirectory}vendor/select2/select2.min.css`)
        link(rel='stylesheet' type='text/css' href!=`${RootDirectory}vendor/daterangepicker/daterangepicker.css`)
        link(rel='stylesheet' type='text/css' href!=`${RootDirectory}css/util.css`)
        
        meta(name='robots' content='noindex, follow')
        
    body(class=pageClass)
    