doctype html
html(lang="ru")
  //- Include head 
  include ../../pugTemplates/main/head
  //-additionally
  link(rel='stylesheet', href!=`${RootDirectory}assets/css/register.min.css`)
  link(rel='stylesheet' type='text/css' href!=`${RootDirectory}assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css`)
  link(rel='stylesheet' type='text/css' href!=`${RootDirectory}assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css`)
  //-body-start
  body(class=pageClass)
    //-header
    include ../../components/header/header
    //-main
    div.limiter
        main.container-login100
            .wrap-login100.p-t-90.p-b-30
                form.login100-form.validate-form(action='http://technohubdevelopment/register' method='POST')
                    span.login100-form-title.p-b-40 Регистрация
                    a.btn-login-with.bg1.m-b-10(href='#')
                        i.fa.fa-facebook-official
                        | Регистрация через фейсбук
                    a.btn-login-with.bg2(href='#')
                        i.fa.fa-twitter
                        | Регистрация через твиттер
                    .text-center.p-t-55.p-b-30
                    span.txt1
                        | Регистрация через Email
                    .wrap-input100.validate-input.m-b-16(data-validate='Please enter email: ex@abc.xyz')
                    input.input100(type='text' class= "email32fg3wvf32" name='email' placeholder='Email')
                    input.input100(type='text' class= "userName32fg3wvf32" name='userName' placeholder='Имя пользователя')
                    input.input100(type='text' class= "number32fg3wvf32" name='number' placeholder='+7(xxx)-xxx-xxxx')
                    //- span.focus-input100
                    //- .wrap-input100.validate-input.m-b-20(data-validate='Please enter password')
                    span.btn-show-pass
                        i.fa.fa.fa-eye
                    input.input100(type='password' class= "pass32fg3wvf32" name='pass' placeholder='Пороль')
                    input.input100(type='password' class= "pass232fg3wvf32" name='pass2' placeholder='Повторите пороль')
                    span.focus-input100
                    .container-login100-form-btn
                    button.login100-form-btn(type='submit')
                        | Зарегистрироваться
                    .flex-col-c.p-t-224
                    span.txt2.p-b-10
                        | Вы уже зарегистрированы?
                    a.txt3.bo1.hov1(href='http://technohubdevelopment/login')
                        | Войти в систему
            //-scripts main
            include ../../pugTemplates/main/scripts
            //-scripts additionally
            script(src!=`${RootDirectory}ts.classes/RegisterValidateClass.js`)    
            
