block variables
-
  var pageClass ='App';
  var RootDirectory = "<? echo APP_USER_PATH; ?>";
  var RootDirectoryInCodeFormat = "APP_USER_PATH";

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title !{'<?php echo $title; ?>'}
   
    link(rel='stylesheet', type='text/css', href!=`${RootDirectory}assets/css/user.register.min.css`)
  body !{`<?php if($vars["viewMode"] == "authPage"){ require ${RootDirectoryInCodeFormat} . '/user-templates/components/header.main.php';} ?>`}
    script(type='text/javascript', src='//rf.revolvermaps.com/0/0/6.js?i=58ytkmr6j63&\
    m=7&c=e63100&cr1=ffffff&f=arial&l=0&bv=90&lx=-420&ly=420&\
    hi=20&he=7&hc=a8ddff&rs=80', async='async') 
    section.log__reg
      .container
        #anchorforit.wrapper__reg
          form#registerform.form__reg(action='vendor/signup.php #anchorforit', method='post')
            h1#redcolor.h1reg Register
            p.preg Please fill in this form to create an account.
            hr
            label(for='Username')
              b.emailstyle Username
            input(type='text', placeholder='Enter Username', name='author_name', required='')
            label(for='email')
              b.emailstyle Email
            input(type='text', placeholder='Enter Email', name='email', required='')
            label(for='psw')
              b.passwordstyle Password
            input(type='password', placeholder='Enter Password', name='password', required='')
            label(for='psw-repeat')
              b.reppasswordstyle Repeat Password
            input(type='password', placeholder='Repeat Password', name='password_confirm', required='')
            hr
            p.bb
              | By creating an account you agree to our 
              a(href='https://policies.google.com/')  Terms &amp; Privacy
              | .
            button.registerbtn(type='submit') Register
            .container__signin
              p.alreadyhaveanacc
                | Already have an account? 
                a#btnsgin(href='#') Sign in
                | .
  div !{`<?php if($vars["viewMode"] == "authPage"){ require ${RootDirectoryInCodeFormat} . '/user-templates/components/footer.main.php';} ?>`}
    //-scripts main
    script(src='https://code.jquery.com/jquery-3.7.0.min.js', integrity='sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=', crossorigin='anonymous')  
    script(src='https://kit.fontawesome.com/bca7bdd4e7.js', crossorigin='anonymous')
    // библиотека
    script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
    script.
      AOS.init();