block variables
    -
        var pageClass ='App';
        var RootDirectory = "<? echo APP_USER_PATH; ?>";





    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        //- title
        title !{'<?php echo $title; ?>'}
        //- inc styles
        link(rel='stylesheet', href!=`${RootDirectory}vendor/bootstrap/css/bootstrap.min.css`)
        link(rel='stylesheet', type='text/css', href!=`${RootDirectory}assets/css/main.min.css`)
        link(rel='stylesheet', type='text/css', href!=`${RootDirectory}vendor/convas/convas-effects.css`)
        link(rel='stylesheet', type='text/css', href!=`${RootDirectory}vendor/slick-slider/slick.css`)
       
        
        
        
    
    